

{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}

<section class="articles">
    <article>
        <h2>Title de l'article</h2>
        <div class="metadata">Ecrit le 10/05/2018 é 19:00 dans la catégorie Politique</div>
        <div class="content">
            <img src="https://via.placeholder.com/300x150" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam exercitationem nobis minima. Quisquam, consequatur optio.</p>
            <p>Voluptatem quae fuga possimus architecto maiores placeat totam. Cupiditate, atque aliquam esse repudiandae aperiam ullam.</p>
            <a href="{{ path('blog_show') }}" class="btn btn-primary">Lire la suite</a>
        </div>
    </article>
    <article>
        <h2>Title de l'article</h2>
        <div class="metadata">Ecrit le 10/05/2018 é 19:00 dans la catégorie Politique</div>
        <div class="content">
            <img src="https://via.placeholder.com/300x150" alt="">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora incidunt consequatur, magnam sequi sit reprehenderit?</p>
            <p>Accusamus molestias illo nisi atque tempore assumenda labore non voluptatem cumque veritatis! Animi, doloribus quam.</p>
            <a href="{{ path('blog_show') }}" class="btn btn-primary">Lire la suite</a>
        </div>
    </article>
    <article>
        <h2>Title de l'article</h2>
        <div class="metadata">Ecrit le 10/05/2018 é 19:00 dans la catégorie Politique</div>
        <div class="content">
            <img src="https://via.placeholder.com/300x150" alt="">
            <p style="background: red;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore suscipit harum explicabo deleniti eos qui?</p>
            <p>Voluptas excepturi nulla inventore reprehenderit laborum dolorum quaerat rem numquam, quos, est fugiat, nam distinctio.</p>
            <a href="{{ path('blog_show') }}" class="btn btn-primary">Lire la suite</a>
        </div>
    </article>
</section>
{% endblock %}
