{% extends 'base.html.twig' %}

{% block body %}
	<article>
		<h2>Title de l'article</h2>
		<div class="metadata">Ecrit le 10/05/2018 é 19:00 dans la catégorie Politique</div>
		<div class="content">
			<img src="https://via.placeholder.com/300x150" alt="">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam exercitationem nobis minima. Quisquam, consequatur optio.</p>
			<p>Voluptatem quae fuga possimus architecto maiores placeat totam. Cupiditate, atque aliquam esse repudiandae aperiam ullam.</p>
            <hr><p><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere necessitatibus vero aliquam temporibus officiis soluta, eos, molestiae beatae in modi praesentium possimus, voluptate sapiente deserunt quod consequatur. Earum ipsam aut dolore ratione suscipit qui temporibus voluptatum minus quaerat non consectetur tenetur, in recusandae fugiat iure, iusto maxime laboriosam, ipsa eligendi!</span><span>Voluptatum voluptates vitae, ipsa cupiditate ex deleniti culpa quia soluta quaerat reiciendis facilis repudiandae in temporibus obcaecati. Cupiditate dolorum quia eum facilis, necessitatibus molestiae inventore iusto provident, enim laudantium officia voluptatum odio tenetur alias eligendi quisquam nihil ex ullam pariatur suscipit est? Doloribus ipsum vitae beatae eveniet rem debitis eius.</span></p>
		</div>
	</article>
	{% endblock %}
