{% extends 'base.html.twig' %}

{% block body %}
<h1> Bienvenu dans ce blog </h1>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum amet itaque doloribus sunt inventore odio saepe. Doloremque pariatur eius nisi ab delectus voluptate repellendus modi qui veritatis numquam, iure perspiciatis non totam quaerat ipsa explicabo deleniti quos adipisci vel! Porro.</p>
<p>Voluptates laboriosam iusto aperiam quas eaque animi facilis dolorum, officia numquam saepe minus sit minima officiis, est dolor. Beatae totam placeat blanditiis eius quo ab incidunt veritatis dolorem quos expedita dicta iusto debitis corrupti numquam dolorum sint, commodi saepe architecto.</p>

{% endblock %}
